<!-- <p id="notice"><%#= notice %></p> -->

<!DOCTYPE html>

<head>
	<title>Kid View</title>
	<link rel="stylesheet" href="base.css">
	<link rel="stylesheet" href="layout.css">
	<link rel="stylesheet" href="skeleton.css">
	<link rel="stylesheet" href="skeleton_wide.css">
	<link rel="stylesheet" href="styles.css.scss">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="container">
		<div class="sixteen columns header-nav">
			<div id="header-title">
				<h1>Our Day</h1>
			</div>
			<div class="navigation" id="preview-button">
				<!-- <a id="previous" href src="#">Prev</a> -->
				<div id="triangle-left"></div>
			</div>

			<div id="date-time">
				<h2>TODAY</h2>
				<h4>Monday, June 9, 2014</h4>
				<h4>3:00 PM</h4>
			</div>

			<div class="navigation" id="next-button">
				<!-- <a id="next" href src="#">Next</a> -->
				<div id="triangle-right"></div>				
			</div>
		</div>

		#"FIX - div ID should be 'childcare/childcares (a class of calendar entry), not 'caregiver/caregivers' (a class of person)."
		<div class="seven columns" id="caregiver-schedule"> 
			<!-- #CHILDCARE SCHEDULE</br></br> -->
			<% @childcares.each do |childcare| %>
				<div class="caregiver-entry">
					#CHILDCARE ENTRY</br>
					<%= childcare.name %>, id: <%= childcare.id %></br>
					</br>
						CaregiverCount: 
						<%= childcare.caregivers.count %>
						#FIX - JR why isn't this working? It should be 2 or 3, not 0!
						<%# childcare.caregivers.each do |caregiver| %> 
							<!-- #CAREGIVER -->
							<!-- <div class="caregiver">
								#CAREGIVER ENTRY
								<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">	</<br>
								
							</div> -->
						<%# end %>
					</br>
					</br>

				</div>
			<% end %>
			
	
			<!-- <div class="caregiver-entry">
				<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">		

				<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg"> -->

<!--  original code to make placeholders  -->
<!-- 				<div class="caregiver-pic">
					<h4>User Image HERE</h4>
				</div> -->
			<!-- </div>

			<div class="caregiver-entry">
				<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">

				<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">

				<img class="caregiver-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">

			</div> -->

		</div>

		<div class="two columns" id="timeline-box">
			<h5>Timeline</h5>
			<!-- <div id="burst-12"></div> -->
			<ul id="timeline">
				<li class="time-tick"></li> 
			</ul>
		</div>




		<div class="seven columns" id="activity-schedule">
			<!-- #ACTIVITY SCHEDULE</br></br> -->
			<% @appointments.each do |appointment| %>
				<div class="activity-entry">
				<!-- #ACTIVITY ENTRY -->
					<img class="scale-with-grid activity-image" src="<%= appointment.image_url %>">
					<div class="image-text">
					<%= appointment.name %></br>
					#FIX This class should probably be "appointment-name-text", not "image text".</br>
						<p><%= appointment.description %></p>
					</div>
				<!-- </br>
				</br> -->
			<% end %>
		<!-- 	<div class="activity-entry">
				<img class="scale-with-grid activity-image" src="http://www.sierrapreschool.com/Public/Images/homeSlide/children-learning-geography.jpg">
				<div class="image-text">
					Preschool
				
			</div>

			<div class="empty-entry"></div>

			<div class="activity-entry">
				<img class="scale-with-grid activity-image" src="http://www.lakejackson-tx.gov/images/pages/N242/swim%20lesson2.jpg">
				<div class="image-text">
					Swim Class
				</div>
			</div> -->

<!-- 			<div class="activity-entry">
				<h4>Activity Image HERE</h4>
				<div class="image-text">
					<p>Activity Desc HERE</p>
				</div>
			</div> -->
		</div>

	</div>

</body>
</html>