<!DOCTYPE html>

	<head>
		<title>User-Our Day</title>
	</head>

	<body>

		<div id="user-nav">
			<div class="sixteen columns">
				<img class="scale-with-grid user-pic" src="http://thumb9.shutterstock.com/thumb_small/197467/197467,1303208750,2/stock-photo-silhouette-of-a-girls-head-75565513.jpg">

				<p>Welcome, 
					<%= current_user.first_name || current_user.email %>
				</p>

				<a id="logout" href="#">Logout</a>
				<%= link_to "Log Out!", destroy_user_session_path, method: :delete  %>
				<!-- #FIX_JANE - id should be on the div, the the a-link -->
			</div>
		</div>

		<div class="container">

			<div class="sixteen columns" id="user-date-time">
				<h1>Our Day</h1>
				<h2><%=Time.now.strftime("It's %l:%M%P on %A, %B %e")%></h2>
			</div>



			<div class="sixteen columns" id="list-children">

				<% @family.children.each do |child| %>

					<div class="child">
						<div class="child-name">
							<h4><%= child.nickname %></h4>
						</div>
						<div class="child-photo-div">
							<%= image_tag(child.headshot_image_url, class: "child-photo")%>
						</div>
						<div>
							<div class="update-button">
<!-- need to add URL's to buttons, make child photo a link to View? -->
								<%= link_to("Update", ) %>
							</div>
							<div class="child-view-button">
								<%= link_to("Kid's View", ) %>
							</div>
						</div>
					</div>

				<% end %>
<!-- add image to this -->
					<div class="child">
						<div class="child-photo"><a href="#" id="add-child">Add Child</a></div>
					</div>	

					<div id = "child_div">
						<ul id = "childList">
						</ul>
					</div>


			</div>





<%= render partial: "children/child_form" %>
<!-- <form class="hidden" id="new-child">
	<label for="nickname">Nickname</label></br>
	<input type="text" name="nickname">
	<label for="facebook_username">facebook username</label></br>
	<input type="text" name="facebook_username">
	<input type="submit">
</form> -->

<!-- FIX - shoudn't these partials go at the top or bottom? -->

<%= render partial: "children/form" %>


<!-- #FIX put in a more sensible place -->


<%= render partial: "caregiver_form" %>

<%#= render partial: "families/form" %>


<%#= render partial: "users/form" %>


<%#= render partial: "caregivers/form" %> 






			<div class="sixteen columns">
				<h4>Caregivers</h4>
				<div class="caregiver-div">
					<div id="add-caregiver">


					<!--#FIX make this a link_to tag with image tag when icon is ready -->
						<a href="#"><span style="font-size:75px">+</span></a>

					</div>
					<p>Add Caregiver</p>
				</div>

				<% @family.caregivers.each do |caregiver| %>
					<div class="caregiver-div">
						<!-- <p><%#= image_tag("silloeutte.png") %></p> -->
						<%= image_tag(caregiver.headshot_image_url, class: "caregiver-pic")%>		
						<p><%= caregiver.nickname %></p>
					</div>
				<% end %>

			</div>
			




			<div class="sixteen columns" id="edit_user">
				<!-- #FIX ID NAME -->
				
				<%#= link_to("edit self", current_user)%>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>this should be small and maybe accordioned</p>
				<%= render partial: "users/form" %> 
				<!-- If you don't want this to show up, add the 'hidden' tag in the partial itself. -->

			</div>

		</div>

	</body>

</html>