<!-- config -->
<% obj_name = 'caregiver' %>
<% obj_name_plural = 'caregivers' %>
<% @obj = @caregiver %>

<!-- form -->
<form class="hidden" id="new-<%= obj_name %>" action="/families/<%= family.id %>/<%= obj_name_plural %>">

	<!-- error checking (mostly from devise) -->
	<!-- #FIX - this should be DRYed out -->
	<!-- <%# if @obj.errors.any? %>
		<div id="error_explanation">
			<h2><%#= pluralize(@obj.errors.count, "error") %> prohibited this <%#= obj_name %> from being saved:</h2>
			<ul>
				<%# @obj.errors.full_messages.each do |message| %>
					<li><%#= message %></li>
				<%# end %>
			</ul>
		</div>
	<%# end %> -->




<!-- Text Fields -->

	<div class="child-photo-dummy"><a href="">Add/Edit Photo</a></div>

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="nickname">Nickname</label></br>
		<input type="text" name="nickname">

	<label for="first_name">first_name</label></br>
		<input type="text" name="first_name">

	<label for="last_name">last_name</label></br>
		<input type="text" name="last_name">

	<label for="email">email</label></br>
		<input type="text" name="email">

	<label for="notes_on_availability">notes_on_availability</label></br>
		<input type="text" name="notes_on_availability">

	<!-- Button -->
	<input type="submit">
	
</form>

<%= render partial: "persons/form", locals: {family: @family} %>
